<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>Projekt | <%= title %></title>
    <link rel="stylesheet" href="/static/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/static/styles/dark.css" type="text/css" />
    <link rel="stylesheet" href="/static/styles/blue.css" type="text/css" />
