<div class="outer" id="navy_wrap">
    <nav class="inner">
        <a href="/">Strona główna</a>
        <a href="/notes">Wszystkie notatki</a>
        <a href="/notes/create">Nowa notatka</a>
    </nav>
</div>