<nav>
    <div class="site-title">
        <a href="/"><h1>Strona główna</h1></a>
        <a href="/notes"><h1>Wszystkie notatki</h1></a>
        <a href="/notes/create"><h1>Nowa notatka</h1></a>
    </div>
</nav>