# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test

# Dependency directories
package-lock.json

# IDE project directory
.vscode/
.idea/

# Project specific
build/
config.json
sessions/*
