<!DOCTYPE html>
<html lang="pl">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <p>Nie ma takiej strony!</p>
    
    <%- include('./partials/footer.ejs') %>

</body>
</html>