    <%- include('./partials/head.ejs') %>
</head>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="outer" id="content_wrap">
        <section class="inner">
            <p>Nie ma takiej strony!</p>
        </section>
    </div>
    <%- include('./partials/footer.ejs') %>
<%- include('./partials/end.ejs') %>