<!DOCTYPE html>
<html>
<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %>
    <div class="outer" id="content_wrap">
        <section class="inner">
            <h1>Witaj na stronie projektu!</h1>
        </section>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>