<%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/nav') %>
    <div class="outer" id="content_wrap">
        <section class="inner">
            <h1>Witaj w Knotes!</h1>
            <p>
                Stworzyliśmy to miejsce z myślą o Twojej kreatywności.
            </p>
            <div id="functionality">
                <p>Twórz</p>
                <img src='/static/resources/new.svg'>
            </div>
            <div id="functionality">
                <p>Edytuj</p>
                <img src='/static/resources/edit.svg'>
            </div>
            <div id="functionality">
                <p>Zapisuj</p>
                <img src='/static/resources/save.svg'>
            </div>
        </section>
    </div>
    
<%- include('./partials/footer.ejs') %>
<%- include('./partials/end.ejs') %>
