<!DOCTYPE html>
<html>
<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %>
    <div class="outer" id="content_wrap">
        <section class="main">
            <h1>Witaj w Knotes!</h1>
            <p>
                Stworzyliśmy to miejsce z myślą o Twojej kreatywności.
            </p>
        </section>
        <div>
            <div id="functionality">
                Twórz
                <!-- <img src=""></a> -->
            </div>
            <div id="functionality">
                Edytuj
                <!-- <img src=""></a> -->
            </div>
            <div id="functionality">
                Zapisuj
                <!-- <img src=""></a> -->
            </div>
        </div>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>