<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
<body>

    <%- include('./partials/nav') %>

    <h1>Witaj na stronie projektu!</h1>

    <%- include('./partials/footer') %>

</body>
</html>