<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>witaj na stronie <%= url %> </p>
    <p>strona jest obecjnie pusta</p>
    <p>wpisz coś poniżej i kliknij zapisz</p>
    <form action="/notes" method="POST">
        <label for="title">tytuł:</label>
        <input type="text" id="title" name="title" required>
        <label for="body">Notatka</label>
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
        <input type="text" value="<%=url%>" id="oldUrl" name="oldUrl" hidden>
        <button>zapisz</button>
      </form>
</body>
</html>