<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lista notesów</title>
    <link rel="stylesheet" href="styles/dark.css" type="text/css">
</head>
<body>
    <% array.url.forEach((element,iterator) => { %>
     <h2><a href="<%= element %>"><%= array.title[iterator] %></a></h2>
    <% }) %>
</body>
</html>