<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function ValidatePasswords() {
            password1 = window.document.forms.register_form.password.value;
            password2 = window.document.forms.register_form.password_repeated.value;
            if (password1===password2){
                console.log('true')
                window.document.forms.register_form.submit.type='submit';
                window.document.getElementById('password_info').style="opacity: 0.0;"
            }else {
                console.log('false')
                window.document.forms.register_form.submit.type='hidden';
                window.document.getElementById('password_info').style="color:red;background: rgba(255,0,0,0.30);width:190px;"
            }
        }
    </script>
    <title>Nowa notatka</title>
    <link rel="stylesheet" href="styles/dark.css" type="text/css">
</head>
<body>
    <%= message %><br>
    <form action="/user/register" method="POST"  name="register_form">
        <br><input type="text" placeholder="login" name="login"><br><br>
        <input type="password", placeholder="password" name="password" ><br>
        <input type="password", placeholder="repeat password" name="password_repeated" oninput="ValidatePasswords()"><br>
        <div id="password_info" style="opacity: 0.0;">Passwords do not match</div><br><br>
        <input type="hidden" value="Submit" name="submit">
    </form>
</body>
</html>