<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <div class="outer" id="content_wrap">
        <section class="inner">
            <%= message %><br>
            <form action="/user/login" method="POST" name="register_form">
                <br><input type="text" placeholder="login" name="login"><br><br>
                <input type="password" , placeholder="password" name="password"><br><br>
                <input type="Submit" value="Login" name="submit">
            </form>
        </section>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>

</html>