<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <div class="outer" id="content_wrap">
        <section class="inner">
        </section>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>

</html>