    <%- include('../partials/head.ejs') %>
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <div class="outer" id="content_wrap">
        <section class="inner">
            <div class="create-note">
                <form action="/notes" method="POST">
                    <input type="text" id="title" name="title" placeholder="Tytuł" required>
                    <br><br>
                    <textarea name="text" required></textarea>
                    <br><br>
                    <button>Stwórz</button>
                </form>
                <% if (exists) { %>
                    <h2>Notatka o podanej nazwie już istnieje!</h2>
                    <% } %>
                        <br>
            </div>
        </section>
    </div>
    <%- include('../partials/footer.ejs') %>
<%- include("../partials/end.ejs") %>