body {
    color: #F0F0F0;
    background-color: #202020;
}
a {
    color: #0080F0;
    text-decoration: none;
}
input, textarea {
    color: #F0F0F0;
    background-color: #404040;
    border: 2px;
    border-radius: 2px;
}
nav a:hover {
    background-color: #404040;
}
button {
    color: #F0F0F0;
    background-color: #0080F0;
    font-size: 14px;
    padding: 8px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 3px #444;
}
button:hover {
    background-color: #004080;
}
button:active {
    box-shadow: 0 0 #222;
    transform: translateY(3px);
}
button a {
    color: #F0F0F0;
}
#navy_wrap { background-color: #101010; }
#content_wrap { background-color: #202020; }
#footer_wrap {
	color: #909090;
	background-color: #101010;
}